main {
    width: 40%;
    height: 200px;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: #54e346;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-color: #fff76a;
}